$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.auth-wrapper {
  color: #000;
}

.breck-img {
  margin: 100px;
}

img {
  height: 870px;
  width: 1619px;
}

.content {
  float: left;
  margin: 5px;
  padding: 5px;
  width: 49%;
}

.content-btn {
  float: left;
  margin: 5px;
  padding: 5px;
  width: 49%;
}

.park-img {
  margin: 100px;
}

.post-auth-forms {
  color: #000;
}

.user-btn {
  margin: 5px;
  padding: 5px;
  right: auto;
}

.user-content {
  margin: 5px;
  padding: 5px;
  right: auto;
}

.user-trails-hbs {
  margin: auto;
  text-align: center;
}
