$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$backrnd: #cec38e;

.auth-response {
  text-align: right;
}

.auth-wrapper {
  color: $black;
}

.big-sky-img {
  margin: 100px;
}

body {
  background-color: $backrnd;
}

body .navbar {
  border-radius: 0;
}

.breck-img {
  margin: 100px;
}

.content {
  float: left;
  margin: 5px;
  padding: 5px;
  width: 49%;
}

.content-btn {
  float: left;
  margin: 5px;
  padding: 5px;
  width: 49%;
}

img {
  height: 870px;
  width: 1619px;
}

.park-img {
  margin: 100px;
}

.post-auth-forms {
  color: $black;
}

.trackers-response {
  display: inline;
}

.trails-response {
  display: inline;
  margin-bottom: 10px;
}

.user-btn {
  margin: 5px;
  padding: 5px;
  right: auto;
}

.user-content {
  margin: 5px;
  padding: 5px;
  right: auto;
}

.user-tracker-response {
  margin-left: 40px;
  padding: 5px;
  text-align: center;
}

.user-tracker-view {
  text-align: center;
}

.user-trails-hbs {
  margin: auto;
  text-align: center;
}

.vail-img {
  margin: 100px;
}
